.cover {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: var(--outer-shadow);
  border-radius: var(--rounded-corner);
  border: var(--box-border);
  overflow: hidden;
  
  .cover-image {
    width: 100%;
    height: var(--cover-height);
    filter: var(--cover-filter);
    background-size: cover;
  }
  
  .details {
    color: var(--text-color);
    text-shadow: var(--text-glow);
    border-top: var(--box-border);
    padding: var(--details-padding);
    box-shadow: var(--inset-shadow-sm);
    font-family: var(--font-space-grotesk);
  }
}
