:root {
  --accent-h: 36;
  --accent-s: 100%;
  --accent-l: 50%;

  /* --background: hsl(var(--accent-h), var(--accent-s), min(95%, calc(var(--accent-l) * 1.9))); */
  /* --foreground-accent: hsl(var(--accent-h), var(--accent-s), max(5%, calc(var(--accent-l) * .3))); */

  --gradient-text:
    hsl(var(--accent-h), var(--accent-s), max(35%, calc(var(--accent-l) * .6))),
    hsl(var(--accent-h), var(--accent-s), max(20%, calc(var(--accent-l) * .4)));

  --gradient-background:
    hsl(var(--accent-h), var(--accent-s), min(100%, calc(var(--accent-l) * 2))),
    hsl(var(--accent-h), var(--accent-s), min(95%, calc(var(--accent-l) * 1.7)));

  --box-border: 1px solid hsl(var(--accent-h), var(--accent-s), min(20%, calc(var(--accent-l) * .5)));
  --outer-shadow: 0 0 1rem hsl(var(--accent-h), var(--accent-s), max(85%, calc(var(--accent-l) * 1.4)));
  --inset-shadow: inset 0 0 .9rem hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) * .5));
  --inset-shadow-strong: inset 0 0 3.5rem hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) * .3));
  --rounded-corner: .4rem;
  --box-padding: 2rem;

  --text-glow: 0 0 .6rem hsl(var(--accent-h), var(--accent-s), min(75%, calc(var(--accent-l) * 1.2)));

  /* --font-size: 16px; */

  /* @media (prefers-color-scheme: dark) {

  } */
}
